<h1>LISTING TOPICS</h1>
<table cellspacing="10">
  <thead >
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
     <% @topics.each do |topic| %>
  <tr>
    <td><%= topic.title %></td>
    <td><%= topic.description %></td>
    <td><%= pluralize(topic.votes.count, "vote") %></td>
    <td><%= button_to '+1', upvote_topic_path(topic), method: :post %></td>  

    <td><%= button_to 'Show', topic, :method => "get"  %></td>

    <td><%= button_to 'Edit', edit_topic_path(topic), :method => "get" %></td>
    
    <td><%= button_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<p id="notice"><%= notice %></p>

<br>

<%= button_to 'New Topic', new_topic_path, :method => "get"%>

