<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<table>
	<td><%= button_to 'Edit', edit_topic_path(@topic), :method => "get" %></td>
	<td><%= button_to 'Back', topics_path, :method => "get" %></td>
</table>